
th {
  padding-bottom: 10px;
}

td {
  padding: 0 5px 7px 5px;
}

.text {
  word-break: break-all;
}




.form-style {
  display: block;
}

.form-bottom {
  margin-bottom: 10px;
}

.form-text {
  height: 47px;
}

.form-submit {
  padding: 2px 7px;
}



.show-style {
  padding: 0 0 34px 38px;
}



